.root {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.todoList {
    padding: 50px 0;
}

.todoItem {
    &:not(:first-of-type) {
      margin-top: 10px;
    }
}

.textInput {
    padding: 5px;
}

.submitButton {
    margin-left: 5px;
}
