.root {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    .todoList {
        padding: 50px 0;
    }

    .todoItem {
        &:not(:first-of-type) {
          margin-top: 10px;
        }
    }

    .nav_list {
        display: flex;
    }

    .nav_item {
        padding: 20px;
    }

    .nav_link {
        text-decoration: none;
        &:hover {
            color: gray;
        }
        &.active {
            color: black;
            &:hover {
                color: black;
            }
        }
    }

    .error_text {
        color: red;
        padding: 20px;
    }

    .textInput {
        padding: 5px;
    }

    .submitButton {
        margin-left: 5px;
    }
}


